@import '../../../styles/variables'

.rmh-toolbar
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  background: rmh-color-grey-lighter
  color: rmh-color-default
  font-weight: normal
  font-style: normal
  font-size: inherit
  line-height: 1
  padding: 0 16px
  width: 100%
  min-height: 64px
  box-shadow: 0 10px 20px -10px rmh-color-default
  box-sizing: border-box
  z-index: 10000
  top: 0
  left: 0
  right: 0

  &.fixed
    position: fixed

  &.primary
    background: rmh-color-primary
    color: rmh-color-white

    .rmh-button
      color: rmh-color-white

  &.transparent
    background: transparent
    box-shadow: none

  .title
    display: inline-block
    margin: 0
    padding: 0
    margin-left: 24px

  .rmh-button
    margin: 0
    display: inline-flex

  .rmh-icon
    font-size: 18px

  > *
    margin: 0 5px
    flex: 1
    max-width: fit-content
