rmh-color-primary = #479ee8
rmh-checkbox-size = 16px
rmh-checkbox-touch-size = 48px

.rmh-checkbox
  position: relative

  &:not(.disabled)

    .checkbox-container
      cursor: pointer
    
    label
      cursor: pointer
      display: flex
      align-items: center

      &:after
        color: #9B3C3C
      
  .checkbox-container
    display: flex
    align-items: center
    justify-content: center
    width: rmh-checkbox-size
    min-width: rmh-checkbox-size
    height: rmh-checkbox-size
    position: relative
    border-radius: 3px
    color: transparent
    border: 2px solid #aaa
    transition: .3s ease

    &:focus
      outline: none

    &:before
      content: ' '
      position: absolute
      width: rmh-checkbox-touch-size
      height: rmh-checkbox-touch-size
      top: 50%
      left: 50%
      z-index: 11
      border-radius: 50%
      transform: translate(-50%, -50%)
      opacity: 0
      transition: .4s cubic-bezier(.55, 0, .55, .2), opacity 1s

    &:active:before
      background: rmh-color-primary
      opacity: .2
      transition: 0s
    
    .rmh-icon
      font-size: 16px
      font-weight: bold

    input
      position: absolute
      left: -999em

  label
    height: rmh-checkbox-size
    padding-left: 12px
    position: relative
    line-height: rmh-checkbox-size

  &.checked
    .checkbox-container
      background-color: rmh-color-primary
      border-color: rmh-color-primary
      color: #fff

  &.disabled

    .checkbox-container
      border-color: #ccc
      color: #ccc
      cursor: default

    label
      color: #ccc

  &.required
    label:after
      position: absolute
      top: 2px
      right: 0
      transform: translateX(calc(100% + 2px))
      content: "*"
      line-height: 1em
      vertical-align: top

  .checkbox-container
    .rmh-icon
      font-size: rmh-checkbox-size - 2px
