@import '~styles/variables'

.rmh-app
  display: grid
  grid-template-columns: min-content auto
  grid-template-rows: min-content auto min-content
  width: 100vw
  min-width: 100vw
  max-width: 100vw
  min-height: 100vh

  &.clipped

    .rmh-toolbar
      grid-column: 1 / span 2
      grid-row: 1

    .rmh-drawer
      grid-column: 1
      grid-row: 2

    .rmh-content
      grid-column: 2
      grid-row: 2

    .rmh-footer
      grid-column: 1 / span 2
      grid-row: 3

  &:not(.clipped)

    .rmh-toolbar
      grid-column: 2
      grid-row: 1

    .rmh-drawer
      grid-column: 1
      grid-row: 1 / span 2

    .rmh-content
      grid-column: 2
      grid-row: 2

    .rmh-footer
      grid-column: 2
      grid-row: 3

  &.right
    grid-template-columns: auto min-content
    
    &.clipped

      .rmh-drawer
        grid-column: 2

      .rmh-content
        grid-column: 1

    &:not(.clipped)

      .rmh-toolbar
        grid-column: 1

      .rmh-drawer
        grid-column: 2

      .rmh-content
        grid-column: 1

      .rmh-footer
        grid-column: 1

  &.fixed
    height: 100vh
    max-height: 100vh
    overflow: hidden
