@import '../../../styles/variables'

.rmh-app
  display: flex
  flex-direction: row
  width: 100vw
  min-width: 100vw
  max-width: 100vw
  height: 100vh
  min-height: 100vh
  max-height: 100vh
  overflow: hidden

  .rmh-drawer.persistent
    position: relative
    order: 1
    flex: 0

    &.right
      order: 3

  > .rmh-app-container
    flex: 1
    order: 2
    height: 100vh
    min-height: 100vh
    max-height: 100vh
    overflow: auto

    > .rmh-toolbar
      flex: 1 100%

    > .rmh-content
      flex: 3 0px
      width: 100%
      max-height: auto
      min-height: auto
      height: auto
      overflow: overlay

  &.fixed-toolbar

    > .rmh-app-container
      overflow: hidden

      > .rmh-content
        overflow: auto
