@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0

@keyframes fromTop
  from
    margin-top: -100px
  to
    margin-top: 0px

@keyframes toTop
  from
    margin-top: 0
  to
    margin-top: -100px
