rmh-color-default = alpha(#000, .54)
rmh-color-default-lighter = alpha(#000, .4)
rmh-color-primary = #479ee8
rmh-color-primary-darker = darken(#479ee8, 20%)
rmh-color-grey = #ccc
rmh-color-grey-darker = #aaa
rmh-color-grey-lighter = #eee
rmh-color-white-darker = #f5f5f5
rmh-color-white = #fff
rmh-color-red = #9B3C3C

rmh-color-button-default-hover = alpha(#000, .1)
rmh-color-button-default-hover-border = alpha(#000, .02)
