@import '~styles/variables'

.rmh-stepper

  .rmh-stepper-navigation
    display: flex
    flex-direction: row
    padding-bottom: 10px

  .rmh-stepper-body
    padding: 20px 0

  .rmh-stepper-action
    display: flex
    justify-content: flex-end
    border-top: 1px solid #eee
    text-align: right
    padding-top: 10px

    > .rmh-button
      flex: 0
