@import '~styles/variables'

.has-rmh-file

  &.rmh-file-drop
    
    &:before
      position: absolute
      content: ''
      width: 100%
      height: 100%
      border: 2px dashed rmh-color-grey-lighter
      padding: 10px
      margin-left: -10px
      transition: .2s ease

    &.rmh-file-drop-entered

      &:before
        border: 2px dashed rmh-color-green

.rmh-file
  flex: 1
  margin: 0
  padding: 0
  border: 0px none
  background: transparent
  color: inherit
  outline: none
  font-size: inherit
  font-family: inherit
  font-weight: inherit

input[type="file"]
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  overflow: hidden
  position: absolute
  clip: rect(0 0 0 0)
  border: 0
  