@import '~styles/variables'

.rmh-file
  flex: 1
  margin: 0
  padding: 0
  border: 0px none
  background: transparent
  color: inherit
  outline: none
  font-size: inherit
  font-family: inherit
  font-weight: inherit

input[type="file"]
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  overflow: hidden
  position: absolute
  clip: rect(0 0 0 0)
  border: 0
  