@import '../../../styles/variables'
@import '../../../styles/ripple'

.rmh-field
  display: flex
  position: relative
  margin: 30px 0
  padding: 0
  height: 30px
  max-height: 30px
  line-height: 30px
  border-top: 1px solid transparent
  border-bottom: 1px solid transparent
  background: transparent
  color: rmh-color-default
  font-weight: 400
  font-size: 15px
  font-family: inherit
  transition: .5s ease
  align-items: center

  &.rmh-radio,
  &.rmh-checkbox
    margin: 10px 0

  &.inline
    display: inline-flex
    margin-right: 10px

  &:not(.no-field)
    border-bottom: 1px solid rmh-color-default

    &.disabled
      border-bottom: 1px solid rmh-color-grey

    &.with-icon
      input, label
        padding-left: 25px

    label
      align-self: flex-start
      position: absolute
      pointer-events: none
      transition: .2s ease
      line-height: normal
      align-self: center

    &.focused
      border-bottom-color: rmh-color-primary
      
    &:not(.select).focused, &.filled
      label
        padding: 0
        margin-top: -22px
        font-size: 11px

    &.focused
      label
        color: rmh-color-primary

    > .rmh-icon
      &.inline
        position: absolute
        pointer-events: none
        padding-right: 4px
        border-right: 1px solid alpha(rmh-color-grey, .5)

    .rmh-button
      flex: 0
      align-self: flex-start
      margin: 0
      height: 30px
      line-height: 30px
      border-radius: 0 5px 0 0

      &:not(.primary)
        border-left: 1px solid alpha(rmh-color-grey, .5)

    &.bordered
      border: 1px solid alpha(rmh-color-grey, .8)
      border-radius: 6px
      padding-left: 5px

      &.open
        border-radius: 6px 6px 3px 3px

      &.disabled
        border-color: rmh-color-grey

      .rmh-button:not(.primary)
        border-radius: 0 5px 5px 0

  &.disabled
    color: rmh-color-grey

  &.required
    label:after
      position: absolute
      top: 0
      right: 0
      transform: translateX(calc(100% + 2px))
      content: '*'
      line-height: 1em
      vertical-align: top
