<rmh-field ref="field" v-bind="[attributes, { validation, placeholder, required }]" :class="classes">
  <label v-if="label && label !== ''" v-html="label" />
  <span class="placeholder" v-if="placeholder && placeholder !== '' && localValue === ''" v-html="placeholder" />
  <rmh-icon v-if="icon !== ''" class="inline">{{ icon }}</rmh-icon>
  <textarea v-if="area" class="rmh-textbox" v-on="listeners" v-bind="{ disabled }" v-model="localValue" @focus="focus" @blur="blur" />
  <input v-else class="rmh-textbox" v-on="listeners" v-bind="{ disabled }" v-model="localValue" @focus="focus" @blur="blur" />
  <slot name="button"></slot>
</rmh-field>
