@import '../../../styles/variables'

.rmh-textbox
  flex: 1
  margin: 0
  padding: 0
  border: 0px none
  background: transparent
  color: inherit
  outline: none
  font-size: inherit
  font-family: inherit
  font-weight: inherit
  