.rmh-option
  margin: 0 5px
  padding: 0
  border: 0px none
  border-bottom: 1px solid #eee
  background: transparent
  color: inherit
  outline: none
  height: 40px
  line-height: 40px
  font-size: inherit
  font-family: inherit
  font-weight: inherit
  text-align: left
  transition: .3s ease
  cursor: pointer

  .rmh-icon.inline
    position: static
    margin: 0 5px

  div
    display: flex
    align-items: center
    margin-left: 5px

    &:before
      content: '› '
      margin-left: -5px
      opacity: 0
      transition: .3s ease

  &:hover, &.selected
    color: #479ee8

    div:before
      margin-left: 0
      opacity: 1
