@import '~styles/variables'

.rmh-step-action
  display: flex
  justify-content: flex-end
  border-top: 1px solid #eee
  text-align: right
  padding-top: 10px
  margin-top: 20px

  > .rmh-button
    flex: 0
