@import '~styles/variables'

.rmh-dialog-action
  display: flex
  flex-wrap: wrap
  flex-direction: row
  padding: 10px

  &.align-right
    justify-content: flex-end

  &.align-center
    justify-content: center

  &.reversed
    flex-direction: row-reverse

  > *
    flex: 0 auto !important
