@import '~styles/variables'

.rmh-list
  margin: 0
  padding: 8px 0
  display: flex
  flex-flow: column nowrap
  position: relative
  list-style: none

  &.width-divider
    
    .rmh-list-item
      border-bottom: 1px solid rmh-color-grey-lighter

      &:last-of-type
        border: none
