@import '~styles/variables'
@import '~styles/ripple'

.rmh-tabs
  
  .rmh-tabs-header
    display: flex
    flex-direction: row
    min-height: 40px

  .rmh-tabs-body
    border-top: 2px solid rmh-color-grey-lighter
    padding: 20px
