<rmh-field class="rmh-select" :validation-term="validation" :placeholder="placeholder" :required="required" :class="classes" ref="field">
  <div class="options" @selected="select">
    <slot></slot>
  </div>
  
  <label v-if="label">{{ label }}</label>
  <span class="placeholder" v-if="placeholder && placeholder !== '' && localValue === ''">{{ placeholder }}</span>
  <rmh-icon v-if="icon !== ''" class="inline">{{ icon }}</rmh-icon>
  <input ref="input" readonly v-on="listeners" v-model="selectedItem.text" @focus="focus" @blur="blur" />
  <rmh-icon class="rmh-select-arrow" @click.native="fakeFocus">keyboard_arrow_down</rmh-icon>
  <slot name="button"></slot>
</rmh-field>