*,
*:before,
*:after
  box-sizing: inherit

* > :first-child
    margin-top: 0

* > :last-child
    margin-bottom: 0

html
  height: 100%
  box-sizing: border-box

body
  min-height: 100%
  margin: 0
  position: relative
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-family: Roboto, 'Noto Sans', -apple-system, BlinkMacSystemFont, sans-serif

/**
 * Overrides - Default buttons
 */

a:not(.md-button)
  transition: .3s ease
  transition-property: color, background-color, opacity

/**
 * Overrides - Apply fluid media styles
 */

audio,
img,
object,
embed,
canvas,
video,
iframe
  font-style: italic
  vertical-align: middle

/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */
/*
   ========================================================================== */

[tabindex="-1"]:focus
  outline: none !important
